strong {
  color: rgb(0, 255, 251);
}

input::placeholder {
  color: rgb(167, 180, 181);
}

li {
  display: flex;
  flex-direction: row;
  color: gray;
}

p {
  font-family: "Saira Stencil", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.boton {
  opacity: 0;
}

.taskLine:hover .boton {
  opacity: 1;
}

.toDo {
  background: whitesmoke;
  min-height: 100px;
  width: 600px;
}
